.cardWrap {
  display: flex;
  margin-top: 70px;
  gap: 24px;
  justify-content: center;
}
body {
  background-color: #2B2012;
}

.card{
  display: gird;
  grid-template-columns: repeat(5, 4fr);

}

.main{
  display: flex;
  flex-direction: column;
  align-items:center
}

.columns {
  display: flex;
}
.mainPhoto{
  width: 210px;
  height: 90px;
  border-radius: 5%;
}

.sourceIcon{
  width: 30px;
  height: 30px;
  margin-left: 70px;
}

.build{
  border-color: black;
  border-width: 10px;
}

.tempLogo {
  width:150px;
  height: 90px;
  padding-left: 60px;
}

.svg_icons {
  transform: scale(2.5);
  justify-content: center;
}